:root {
  --padding-horizontal: 30px;
  --padding-vertical: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main, header {
  padding: var(--padding-vertical) var(--padding-horizontal);
}

footer > div {
  padding: 12px var(--padding-horizontal);
}

body {
  // padding: var(--padding-vertical) var(--padding-horizontal);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  justify-content: center;
  background-color: white;
}

header {
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    gap: 12px;

    > li {
      font-size: 12px;

      // & + li {
      //   margin-left: 12px;
      // }
    }

    li + li {
      // margin-left: 12px;
    }

    > li:last-child span.material-icons {
      font-size: 32px;
    }
  }
}

header a {
  display: inline-block;
  text-decoration: none;

  color: #444;
}

main {
  flex: 1;
  width: 100%;

  margin-top: -12vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .search-box {
    margin: 24px 0;
    padding: 6px 12px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    max-width: 582px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    > input {
      margin: 0 12px;
      flex: 1;

      border: none;
    }
  }

  button {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid transparent;
    background-color: #f8f9fa;

    &:hover {
      border: 1px solid #dadce0;
    }
  }
}

footer {
  position: relative;
  z-index: 1;
  background-color: #f2f2f2;
  // margin-left: calc(var(--padding-horizontal) * (-1));
  // width: calc(100% + 2 * var(--padding-horizontal));
  
  // &::after {
  //   z-index: -1;
  //   content: "";
  //   background-color: #f2f2f2;
  //   position: absolute;
  //   left: calc(var(--padding-horizontal) * (-1));
  //   top: calc(var(--padding-vertical) * (-1));
  //   width: calc(100% + 2 * var(--padding-horizontal));
  //   height: calc(100% + 2 * var(--padding-vertical));
  // }

  > div:first-child {
    border-bottom: 1px solid #dadce0;
  }

  > div:last-child > ul {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    a {
      font-size: 14px;
    }
  }
}