:root {
  --padding-horizontal: 30px;
  --padding-vertical: 18px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main, header {
  padding: var(--padding-vertical) var(--padding-horizontal);
}

footer > div {
  padding: 12px var(--padding-horizontal);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

header > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  gap: 12px;
}

header > ul > li {
  font-size: 12px;
}

header > ul > li:last-child span.material-icons {
  font-size: 32px;
}

header a {
  display: inline-block;
  text-decoration: none;
  color: #444;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  margin-top: -12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .search-box {
  margin: 24px 0;
  padding: 6px 12px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  max-width: 582px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .search-box > input {
  margin: 0 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
}

main button {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: #f8f9fa;
}

main button:hover {
  border: 1px solid #dadce0;
}

footer {
  position: relative;
  z-index: 1;
  background-color: #f2f2f2;
}

footer > div:first-child {
  border-bottom: 1px solid #dadce0;
}

footer > div:last-child > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > div:last-child > ul a {
  font-size: 14px;
}
/*# sourceMappingURL=google.css.map */