:root {
  --padding-horizontal: 30px;
  --padding-vertical: 18px;

  // light
  --background-color: white;
  --button-background-color: #f8f9fa;
  --font-color: rgb(32, 33, 36);
  --border-color: #dadce0;
  --border-input-color: #dfe1e5;
  --footer-background-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--font-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    // dark
    --background-color: #202124;
    --button-background-color: #303134;
    --font-color: #999da2;
    --border-color: #5f6368;
    --footer-background-color: #171717;
  }
}

// @media (prefers-color-scheme: dark) {
//   html body{
//     background-color: #202124;
//   }


//   body, body header li a {
//     color: #999da2;
//   }

//   body main .search-box {
//     border: 1px solid #5f6368;
//     input{
//       background-color: #202124;

//       span {
//         color: #999da2;
//       }
//     }
//   }

//   body main button {
//     background-color: #303134;
//     color: white;
//   }

//   body footer {
//     background-color: #171717;
//     color: #999da2;
//   }
// }

main, header {
  padding: var(--padding-vertical) var(--padding-horizontal);
}

footer > div {
  padding: 12px var(--padding-horizontal);
}

body {
  // padding: var(--padding-vertical) var(--padding-horizontal);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  justify-content: center;
  background-color: var(--background-color);
  color: var(--font-color);
}

header {
  > nav > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    gap: 12px;

    > li {
      // --font-color: blue;
      font-size: 12px;
      color: var(--font-color);

      // & + li {
      //   margin-left: 12px;
      // }
    }

    li + li {
      // margin-left: 12px;
    }

    > li:last-child span.material-icons {
      font-size: 32px;
    }
  }
}

header a {
  display: inline-block;
  text-decoration: none;

  color: var(--font-color);
}

main {
  flex: 1;
  width: 100%;

  margin-top: -12vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .search-box {
    margin: 24px 0;
    padding: 6px 12px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    max-width: 582px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    > input {
      margin: 0 12px;
      flex: 1;
      background-color: var(--background-color);

      border: none;
    }
  }

  button {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid transparent;
    background-color: var(--button-background-color);
    color: var(--font-color);

    &:hover {
      border: 1px solid var(--border-color);
    }
  }
}

footer {
  position: relative;
  z-index: 1;
  background-color: var(--footer-background-color);
  color: var(--font-color);
  // margin-left: calc(var(--padding-horizontal) * (-1));
  // width: calc(100% + 2 * var(--padding-horizontal));
  
  // &::after {
  //   z-index: -1;
  //   content: "";
  //   background-color: #f2f2f2;
  //   position: absolute;
  //   left: calc(var(--padding-horizontal) * (-1));
  //   top: calc(var(--padding-vertical) * (-1));
  //   width: calc(100% + 2 * var(--padding-horizontal));
  //   height: calc(100% + 2 * var(--padding-vertical));
  // }

  > div:first-child {
    border-bottom: 1px solid #dadce0;
  }

  > div:last-child > ul {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    a {
      font-size: 14px;
    }
  }
}